In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [3]:
# # Denis
# om_data = pd.read_csv("/Volumes/doc/projects/energyhack2/data_prepared/spotreba_prepared.csv", sep=";")

In [4]:
# Juraj
data_path = "/Users/jurajkapasny/Data/energy_hack/"
om_data = pd.read_csv(data_path+"spotreba_prepared.csv",sep = ";")

In [5]:
om_data.head(10)

  Dátum a čas Unnamed: 1  spotreba  om
0  2016-01-01   00:15:00     0.211   1
1  2016-01-01   00:30:00     0.210   1
2  2016-01-01   00:45:00     0.210   1
3  2016-01-01   01:00:00     0.206   1
4  2016-01-01   01:15:00     0.205   1
5  2016-01-01   01:30:00     0.199   1
6  2016-01-01   01:45:00     0.206   1
7  2016-01-01   02:00:00     0.204   1
8  2016-01-01   02:15:00     0.208   1
9  2016-01-01   02:30:00     0.201   1

In [7]:
om_data.columns = ["date","interval","spotreba","om"]

In [8]:
om_data['interval'] = om_data['date'] + ' ' + om_data['interval']

In [10]:
om_data.head()

         date             interval  spotreba  om
0  2016-01-01  2016-01-01 00:15:00     0.211   1
1  2016-01-01  2016-01-01 00:30:00     0.210   1
2  2016-01-01  2016-01-01 00:45:00     0.210   1
3  2016-01-01  2016-01-01 01:00:00     0.206   1
4  2016-01-01  2016-01-01 01:15:00     0.205   1

In [11]:
om_data.interval = pd.to_datetime(om_data.interval)
om_data['hour'] = om_data.interval.dt.hour

In [12]:
df = om_data.groupby([om_data.om, 'hour'])['spotreba'].sum().unstack()

In [13]:
df.tail(5)

hour,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
om,,,,,,,,,,,,,,,,,,,,,
146,109.279,231.490,443.322,459.235,442.109,277.582,101.499,81.961,90.695,106.430,...,212.211,217.656,244.883,279.831,228.578,176.529,138.654,121.027,113.774,106.394
147,73.158,66.798,63.106,64.390,71.406,77.303,132.412,174.828,301.864,258.232,...,259.612,276.716,334.922,391.327,408.433,379.988,320.217,248.623,195.707,119.756
148,104.956,104.307,106.718,105.406,106.063,103.592,106.941,255.651,556.765,630.908,...,548.602,517.814,263.124,96.513,94.497,97.612,102.468,103.979,106.107,103.970
149,277.484,267.743,263.136,261.960,258.301,251.721,331.963,464.387,321.774,340.881,...,541.317,536.683,580.654,583.875,637.065,549.031,441.130,409.103,365.802,298.223
150,313.763,298.706,301.238,300.295,306.435,313.044,330.300,506.995,481.569,459.317,...,468.005,461.858,346.496,326.347,332.886,337.324,305.000,314.635,312.191,313.716

In [14]:
df_norm = (df - df.mean()) / (df.max() - df.min())

In [16]:
df_norm.head()

hour,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
om,,,,,,,,,,,,,,,,,,,,,
1,0.025019,0.049127,0.054856,0.057306,0.049983,0.016013,0.012257,0.093546,0.057137,0.025456,...,0.003856,0.004942,-0.095207,-0.109334,-0.089020,-0.078067,-0.064924,-0.016175,-0.014692,0.008739
2,0.028565,0.052689,0.053396,0.052021,0.100360,0.262195,0.403768,0.204071,0.140788,0.076629,...,0.122762,0.186384,0.231629,0.256114,0.299716,0.323166,0.319572,0.100506,0.000324,0.013973
3,0.279569,0.256073,0.165855,0.084680,0.049135,0.051042,0.018783,-0.026309,0.020716,0.076485,...,0.320829,0.418884,0.204370,0.254880,0.272204,0.282032,0.323851,0.236668,0.117827,0.048340
4,-0.159589,-0.139473,-0.130092,-0.129785,-0.144401,-0.135427,-0.163585,-0.129400,-0.146464,-0.117058,...,-0.250437,-0.274169,-0.212911,-0.212397,-0.218792,-0.213137,-0.228943,-0.191847,-0.172491,-0.181848
5,0.430229,0.470586,0.466825,0.467309,0.488896,0.356918,0.124709,-0.173850,-0.262080,-0.229491,...,-0.299148,-0.339183,-0.238826,-0.155773,-0.054621,0.010369,0.158677,0.307393,0.343877,0.427277

In [17]:
dataset = df_norm.values

In [26]:
km = KMeans(n_clusters = 4)

In [27]:
km.fit(dataset)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [28]:
x = km.fit_predict(dataset)

In [29]:
df['cluster'] = x

In [30]:
df.groupby("cluster").size()

cluster
0    32
1    17
2    58
3    43
dtype: int64

In [31]:
df.groupby("cluster").mean().transpose()

cluster           0           1           2           3
hour
0        232.805808  623.447864  149.695622  143.578058
1        204.646163  603.560599  127.447985  131.028463
2        191.689448  606.154168  124.481330  125.198690
3        183.845116  612.930187  126.436594  123.056231
4        184.070983  602.334670  135.816049  130.249615
5        210.870776  469.719301  139.971595  139.210743
6        243.359039  286.027354  141.290170  174.624971
7        307.586344   67.569745  161.876777  376.873647
8        339.934091    7.495529  196.784421  556.328081
9        389.962082    7.252882  213.807484  625.927427
10       423.170003    6.132588  218.401735  633.329309
11       434.291098    6.379118  201.143650  604.465062
12       419.372666    7.220353  191.272223  551.530008
13       407.170472    8.240588  187.861293  549.823580
14       422.585201   12.397706  208.950766  538.133635
15       452.299637   16.157765  187.896095  449.782406
16       457.403681   65.211451  170.611324  314.653362
17       459.671281  187.185743  175.353477  245.470499
18       479.759616  270.422999  172.654252  183.117741
19       473.518432  346.751569  170.157118  152.198863
20       414.849410  453.366996  166.591752  139.540332
21       343.208762  613.344693  161.264780  129.744752
22       311.931064  668.994851  197.025434  125.399614
23       253.731749  669.430221  176.296095  124.143685

In [34]:
df[["cluster"]].to_csv(data_path + "clusters.csv", sep = ";", index = True)